{% extends 'base.html' %}

{% block head %}
<h1>Cards</h1>
<form submit="/">
    <label for="question">Question</label>
    <textarea name="question" rows="4" cols="60"></textarea>
    <label for="answer">Answer</label>
    <textarea name="answer" rows="4" cols="60"></textarea>
    <input id="submitBtn" type="submit" value="Add" />
</form>
{% endblock %}

{% block body %}
<div class="cardWrapper">
    <div class="qa">
        <div class="question">Question in here</div>
        <div class="answer">Answer in here</div>
    </div>
    <div class="btns">
        <button class="delete">❌</button>
        <button class="update">✍️</button>
    </div>
</div>
{% endblock %}
